* {
  margin: 0;
  padding: 0;
}

.detail {
  width: 100%;
  max-width: 700px;
  /* height: 500px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  width: 300px;
  box-sizing: border-box;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f8fa;
}

.detail .right .title {
  color: #1D1F1D;
  font-size: 20px;
  font-weight: 700;

}

.detail .right {
  width: 300px;
  box-sizing: border-box;
  height: 600px;
}
/* click button for change products detail images */
.left .button {
  height: 48px;
  width: 48px;
  background-color: #008A00;
  border-radius: 24px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 200px;
}

.price {
  color: #008A00;
  margin: 30px 0;
  font-size: 20px;
  font-weight: bolder;
}

.code {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.info {
  font-size: 16px;
  font-weight: 400;
}

.infobutton {

  margin: 10px 0;
  font-size: 16px;
  color: #1D1F1D;
  font-weight: lighter;

}

.buttonlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* small function button style */
.buttonlist .button {
  font-size: 10px;
  margin: 10px 0;
  width: 130px;
  height: 30px;
  border: 1px solid #008A00;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:#008A00;
}

.buttonlist .button img {
  width: 20px;
  height: 20px;
}

/* add to cart button style */
.add{
  width: 200px;
  height: 52px;
  background-color: #008A00;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
}