/*homepage*/
#landing_page{
    background-color:#EBEFEA ;
    height: 50%;
}
.landing_photo{
    display: flex; 
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
 }
 .photo_device{
     background-color: transparent;
 }
 .photo_Monitor{
     background-color: transparent;
 }
 .photo_frame{
     background-color: transparent;
 }
 .photo_Electricity{
     background-color: transparent;
 }
 .landing_text ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;

 }
 .landing_text_list{
    margin-top: -750px;
 }
.Electronics{
    margin-left: -80px;
}
.interfaces{
    margin-left:-55px;
}
.connection{
    margin-left:-5px;
}
.systems{
    margin-left:-30px;
}
#company_news1_page{
    background-color:#F5F5F5 ;
    height: 100vh;
}
.news_text{
    font-size: 25px;
    padding-top: 100px;
    margin-left: 100px;
}
.Benefits{
    width: 40%;
    margin-left:135px;
    margin-top: 100px;
}
.news_guide{
    margin-top: 100px;

}
.news_guide{
    margin-left: 550px;
    margin-top: -200px;
    


}
.news_guide li{
    list-style-type: none;
    font-size: 17px;
    margin-top: 3px;
    margin-left: 220px;
    
}
.log_in_button{
    font-size: 24px;
    font-family: "Roboto";
    margin-left: 800px;
    background-color:#008A00;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 3%;
}

