/*homepage*/
#landing_page{
    background-color:#EBEFEA ;
    height: 50%;
}
.landing_photo{
    display: flex; 
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
 }
 .photo_device{
     background-color: transparent;
 }
 .photo_Monitor{
     background-color: transparent;
 }
 .photo_frame{
     background-color: transparent;
 }
 .photo_Electricity{
     background-color: transparent;
 }
 .landing_text ul{
    list-style-type: none;
    display: flex; 
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;

 }
 .landing_text_list{
    margin-top: -750px;
 }
.Electronics{
    margin-left: -80px;
}
.interfaces{
    margin-left:-55px;
}
.connection{
    margin-left:-5px;
}
.systems{
    margin-left:-30px;
}
/*advertisement1*/
#company_news1_page{
    background-color:#F5F5F5 ;
    height: 100vh;
}
.news_text{
    font-size: 25px;
    padding-top: 100px;
    margin: -15px 100px;
}
.Benefits{
    width: 40%;
    margin-left:135px;
    margin-top: 100px;
}
.news_guide{
    margin-top: 50px;

}
.news_guide{
    margin-left: 670px;
    margin-top: -300px;
    font-family: "Roboto";


}
.news_guide li{
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 220px;
    color: #333333;
    
}
.log_in_button{
    font-size: 23px;
    font-family: "Roboto";
    margin-left: 930px;
    margin-top: 100px;
    background-color:#008A00;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 3%;
}
/*advertisement2*/
#direct_ordering_page{
    background-color:#EBEFEA ;
    height: 100vh;
}
.photo--clicking{
    width: 40%;
    margin-left:135px;
    margin-top: 130px;
}
.More_button{
    font-size: 23px;
    font-family: "Roboto";
    margin-left: 930px;
    margin-top: 55px;
    background-color:#008A00;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 3%;
}
/*product showing page*/
#product_showing{
    background-color:#F5F5F5 ;
    height: 150vh;
}
.p1{
    padding-top: 50px;
    padding-bottom: 150px;
    font-weight: bolder;
}
.p2{
    font-weight: bolder;
}
.top_category{
    text-align: center;
    font-size: 40px;
    margin:auto;
}
.Best_seller{
    text-align: center;
    font-size: 40px;
    margin-top: 170px;
}
.above_photo{
    display:flex;
    justify-content: center;
    margin:-100px 200px;

}
.below_photo{
    display:flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    
}
.above_photo img{
    padding:20px;
    width:20%;
    margin:auto 30px;
    
}
.below_photo img{
    padding:18px;
    width: 16%;
    margin:auto 30px;
}
/*A high-performance all-rounder*/
#high-performance_advertisement{
    background-color:#EBEFEA ;
    height: 100vh;
}
.high_performance_text{
    margin:-3px;
    font-size: 30px;
    font-weight: bolder;
}
.A_high-performance_all-rounder{
    margin-top: 170px;
    margin-left: 910px;
}
.content{
    margin-top: -60px;
}
.photo_high_click{
    width: 40%;
    margin-left:135px;
    margin-top: -50px;
}
.performance_text{
    margin-left: 930px;
    margin-top: -330px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 2;
}

.More_button2{
    font-size: 23px;
    font-family: "Roboto";
    margin-left: 930px;
    margin-top: 90px;
    background-color:#008A00;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 3%;
}
/*single pair Ethernet*/
#Achieve_More_Together{
    background-color:#F5F5F5 ;
    height: 100vh;
    margin-top: -5px;
}
.Achieve_text{
    position: absolute;
    margin:-2px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 125px;
    padding-left: 225px;
}

.photo_achieve_click{
    width: 40%;
    margin-left:910px;
    padding-top: 178px;
}
.achieve_Ltext{
    margin-left: 180px;
    margin-top: -350px;
}
.achieve_Ltext li{
    list-style-type: none;
    line-height: 2;
    font-size: 17px;

}
.achieve_litext{
    font-weight: bolder;
}
.More_button3{
    position: absolute;
    font-size: 23px;
    font-family: "Roboto";
    margin-left: 225px;
    margin-top: 110px;
    background-color:#008A00;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 3%;
}
/*single pair Ethernet*/
#Ihre_Vorteile_im_Murrelektronik_Onlineshop{
    background-color:#EBEFEA ;
    height: 100vh;
}
.More_button4{
    position: absolute;
    font-size: 23px;
    font-family: "Roboto";
    margin-left: 930px;
    margin-top: 110px;
    background-color:#008A00;
    color: white;
    padding: 5px 35px;
    border: none;
    border-radius: 3%;
}
.Ihre_text{
    margin-left: 930px;
    margin-top: -280px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 2;
}
/*discover our electronics*/
#Discover-Our-Electronics{
    background-color:#F5F5F5 ;
    height: 100vh;
    margin-top: -10px;
}
.Discover{
    margin-top: -5px;
    text-align: center;
    font-size: 40px;

}
.Discover p{
    position: absolute;
    padding-left: 600px;
    font-size: 40px;
    padding-top: 100px;
}
.Discover-photo{
    position: absolute;
    display:flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 250px;
}
.Discover-photo img{
    padding:18px;
    width: 16%;
    margin:auto 30px;
}
/*homepage*/
@media  (max-width:1366px){
    .landing_text ul{
        list-style-type: none;
        display: flex; 
        flex-direction: column;
        align-items: center;
        white-space: normal;
    
     }
     .landing_photo{
        flex-direction: column;
        align-items: center;
     }
     .landing_text_list{
        margin-top: -750px;
        font-size: 10px;
        white-space: normal;
     }
     .interfaces{
        padding-left: 20px;
     }
    
}


